.icon-48-drivers {
      background-image: url(../images/l_drivers.png);
      padding-left:60px!important;
}

.icon-48-driver {
      background-image: url(../images/l_drivers.png);
      padding-left:60px!important;
}

.color-box-drivers { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}



.other-filters{
    padding: 0 14px;
}
tr.sold td {
    background: #8ceeb6 !important;
}
tr.cancel td {
    background: #feb1b1 !important;
}